<div class="back-to-category">
    <div class="float-left">
        <button class="btn-green" (click)="backToCategory()">
            <fa-icon [icon]="icon" size="1x"></fa-icon>
            <span>{{_category.name}}</span>
        </button>
    </div>
    <div class="float-right">
        <button class="btn-green" (click)="update()" *ngIf="_sharedService._isAuthenticated">ИЗМЕНИТЬ</button>
        <button class="btn-green" (click)="delete()" *ngIf="_sharedService._isAuthenticated">УДАЛИТЬ</button>
    </div>
</div>
<div class="product">
    <div class="float-left">
        <h2>{{_product.name}}</h2>
        <div class="description">
            <h5>{{_product.description}}</h5>
        </div>
        <div class="availability yes" *ngIf="_product.isAvailable">
            <h4>Есть в наличии</h4>
        </div>
        <div class="availability no" *ngIf="!_product.isAvailable">
            <h4>Нет в наличии</h4>
        </div>
    </div>
    <div class="float-right">
        <ngb-carousel #carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="0">
            <ng-template ngbSlide>
                <button class="btn-green" (click)="goToNext()">УЗНАТЬ ЦЕНУ</button>
            </ng-template>
            <ng-template ngbSlide>
                <button class="btn-green" (click)="goToNext()">+380 95 949 83 34</button>
            </ng-template>
            <ng-template ngbSlide>
                <button class="btn-green" (click)="goToNext()">+380 98 416 67 82</button>
            </ng-template>
            <ng-template ngbSlide>
                <button class="btn-green" (click)="goToStart()">+380 68 550 43 75</button>
            </ng-template>
        </ngb-carousel>
        <div class="image-default" (click)="showImage(_product.imagePath)" title="Нажмите, чтобы посмотреть полное изображение">
            <img [src]="_product.imagePath">
        </div>
    </div>

</div>

<div class="image-full-view" *ngIf="_isShowFullImage" (click)="closeImageView()" title="Нажмите, чтобы закрыть просмотр изображения">
    <img [src]="_fullImagePath">
</div>