<div class="user-update-page">
    <div class="user-add-group-update" *ngIf="_shared_service._is_authorized && !_shared_service._is_admin">
        <label>Изменение данных</label>
        <br>
        <label>email</label>
        <br>
        <input [(ngModel)]="_new_user.Email" class="field_user_update" />
        <br>
        <label>Пароль</label>
        <br>
        <input [(ngModel)]="_new_user.Password" class="field_user_delete" />
        <br>
        <form>
            <input type="button" value="Отправить" (click)="update_user()" class="send-user-button-update">
        </form>
    </div>

    <div class="user-add-group-update" *ngIf="_shared_service._is_authorized && _shared_service._is_admin">
        <label>Изменение данных</label>
        <br>
        <label>email</label>
        <br>
        <input [(ngModel)]="_new_admin.Email" class="field_user_update" />
        <br>
        <label>Пароль</label>
        <br>
        <input [(ngModel)]="_new_admin.Password" class="field_user_delete" />
        <br>
        <form>
            <input type="button" value="Отправить" (click)="update_admin()" class="send-user-button-update">
        </form>
    </div>
</div>