.head {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #55C34D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.head .icon {
    display: block;
    width: 40%;
    height: 100%;
    float: left;
}

.head .icon a {
    color: black;
}

.head .icon span {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}

.head .icon fa-icon {
    display: inline-block;
    margin-left: 5%;
    margin-top: 28px;
}

.head .links {
    float: right;
    height: 100%;
    width: 60%;
}

.head .links .btn-white {
    font-size: 2em;
    display: inline-block;
    width: 195px;
    margin-left: 2%;
    margin-top: 30px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.head .links .btn-green {
    font-size: 2em;
    display: inline-block;
    width: 195px;
    margin-left: 2%;
    margin-top: 30px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.head .links .categories {
    display: none;
}

.head .links .sidebar {
    display: inline-block;
}

@media screen and (max-width: 1410px) {
    .head .icon span {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        display: inline-block;
        margin-left: 15px;
        margin-top: 10px;
    }
    .head .icon {
        display: block;
        width: 30%;
        height: 100%;
        float: left;
    }
    .head .links {
        float: right;
        height: 100%;
        width: 70%;
    }
    .head .links .btn-white {
        font-size: 1.5em;
        display: inline-block;
        width: 165px;
        margin-left: 3%;
        margin-top: 37px;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
    }
    .head .links .btn-green {
        font-size: 1.5em;
        display: inline-block;
        width: 165px;
        margin-left: 3%;
        margin-top: 37px;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
    }
}

.head .links .categories {
    display: none;
}

@media screen and (max-width: 1280px) {
    .head .icon span {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        display: inline-block;
        margin-left: 15px;
        width: 50%;
        margin-top: 0px;
    }
    .head .icon fa-icon {
        display: inline-block;
        margin-left: 30%;
        width: 10%;
        margin-top: 5px;
    }
    .head .icon {
        display: block;
        width: 100%;
        height: 50%;
    }
    .head .links {
        float: right;
        width: 100%;
        height: 50%;
    }
    .head .links a,
    button {
        display: inline-block;
        margin-left: 5%;
        margin-top: 10px;
    }
    .head .links .btn-white {
        font-size: 1.5em;
        display: inline-block;
        width: 20%;
        margin-left: 4%;
        margin-top: 10px;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
    }
    .head .links .btn-green {
        font-size: 1.5em;
        display: inline-block;
        width: 20%;
        margin-left: 4%;
        margin-top: 10px;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
    }
    .head .links .categories {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .head .icon span {
        font-family: 'Roboto', sans-serif;
        font-size: 1.6em;
        float: right;
        width: 60%;
        margin-right: 10px;
        margin-top: 15px;
    }
    .head .icon fa-icon {
        float: left;
        margin-left: 20%;
        margin-top: 15px;
        font-size: 0.8em;
    }
    .head .icon {
        display: block;
        width: 100%;
        height: 50%;
    }
    .head .links {
        float: right;
        width: 100%;
        height: 50%;
    }
    .head .links a,
    button {
        display: inline-block;
        margin-left: 0%;
        margin-top: 10px;
    }
    .head .links .btn-white {
        font-size: .9em;
        display: inline-block;
        width: 25%;
        margin-left: 0%;
        margin-top: 10px;
        padding: 6px 0px 6px 0px;
        text-decoration: none;
    }
    .head .links .categories {
        display: inline-block;
    }
    .head .links .sidebar {
        display: none;
    }
}