<div class="book-add-page">

    <div class="book-add-group">
        <label>Добавление книги</label>
        <br>
        <label>Название</label>
        <br>
        <input [(ngModel)]="_new_book.Title" class="field_book" placeholder="Book title name..." />
        <br>
        <div class="author-fields-add">
            <label>Авторы</label><button (click)="sub_author_fields()">-</button> <button
                (click)="add_author_fields()">+</button>
        </div>
        <br>
        <ul>
            <li *ngFor="let item of create_array_authors(); let i = index;">
                <input [(ngModel)]="_authors_of_book[i]" class="field_authors_in_book" placeholder="Author name..." />
            </li>
        </ul>
        <br>
        <div class="genre-fields-add">
            <label>Жанры</label><button (click)="sub_genre_fields()">-</button> <button
                (click)="add_genre_fields()">+</button>
        </div>
        <br>
        <ul>
            <li *ngFor="let item of create_array_genres(); let i = index;">
                <input [(ngModel)]="_genres_of_book[i]" class="field_genres_in_book" placeholder="Genre name..." />
            </li>
        </ul>
        <br>
        <div class="price-and-date">
            <label>Цена</label>
            <br>
            <input [(ngModel)]="_new_book.Price" class="field_book" placeholder="100, for example" />
            <br>
            <label>Дата публикации</label>
            <br>
            <input [(ngModel)]="_release_date" class="field_book" placeholder="'10.05.1999', for example" />
            <br>
        </div>
        <form>
            <input type="button" value="Отправить" (click)="add_book()" class="send-book-button">
        </form>
    </div>

</div>
