<div class="admin-management-page">
    <br>
    <h3 align="center">Управление</h3>
    <br>
    <div class="admin-management">
        <div class="book-management">
            <br>
            <h4 align="center">Книга</h4>
            <br>
            <a routerLink="book/add" routerlinkactive="active">
                <h4>Добавить</h4>
            </a>
        </div>

        <div class="author-management">
            <br>
            <h4 align="center">Автор</h4>
            <br>
            <a routerLink="author/add" routerlinkactive="active">
                <h4>Добавить</h4>
            </a>
        </div>

        <div class="genre-management">
            <br>
            <h4 align="center">Жанр</h4>
            <br>
            <a routerLink="genre/add" routerlinkactive="active">
                <h4>Добавить</h4>
            </a>
        </div>
    </div>

</div>