<div class="picture">
    <img [src]="pic">
    <h1>Хочешь засадить по самые не балуй?</h1>
    <h2>Тогда добро пожаловать</h2>
    <h3 class="down">
        <fa-icon [icon]="down" size="1x"></fa-icon>
    </h3>
    <div class="advantages">
        <div class="left-float">
            <div class="left-float firstly">
                <div class="first">
                    <fa-icon [icon]="check" size="2x"></fa-icon>
                    <h3>КАЧЕСТВО</h3>
                    <h4>Всегда свежекопанные</h4>
                </div>
            </div>
            <div class="right-float secondly">
                <div class="second">
                    <fa-icon [icon]="infinity" size="2x"></fa-icon>
                    <h3>АССОРТИМЕНТ</h3>
                    <h4>Вы найдете, что вам нужно</h4>
                </div>
            </div>
        </div>
        <div class="right-float">
            <div class="left-float thirdly">
                <div class="third">
                    <fa-icon [icon]="calendar" size="2x"></fa-icon>
                    <h3>2 ГОДА</h3>
                    <h4>Результат не заставит ждать</h4>
                </div>
            </div>
            <div class="right-float fourdly">
                <div class="fourth">
                    <fa-icon [icon]="percent" size="2x"></fa-icon>
                    <h3>СОРТНОСТЬ</h3>
                    <h4>100%-ая сортность саженцев </h4>
                </div>
            </div>
        </div>
    </div>
</div>