.container-fluid .back {
    position: absolute;
    top: -18px;
    left: 0px;
    width: 28px;
    height: 28px;
}

.container-fluid .btn-white:not(.back) {
    padding: 10px 20px;
    width: 180px;
}

.container-fluid .order-details {
    margin-top: 30px;
}

.container-fluid .order-details input {
    height: 40px;
}

.container-fluid .order-details input,
textarea {
    border: 1px solid #0071e3 !important;
    color: #0071e3;
    font-weight: 500;
    border-radius: 10px;
}

.container-fluid .order-details input:focus,
textarea:focus {
    outline: none;
}

.container-fluid .order-details .send-row {
    display: none;
}

.container-fluid .order-details .send {
    display: none;
}

.container-fluid .basket-details {
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #0071e3;
    height: fit-content;
}

.container-fluid .basket-details .basket-div {
    height: fit-content;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-fluid .basket-details .basket-div span,
p {
    margin: 0;
    color: #0071e3;
}

.container-fluid .basket-details .basket-div .basket {
    margin-bottom: 5px;
    margin-top: 5px;
}

.container-fluid .basket-details .basket-div .image {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid .basket-details .basket-div .count {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .basket-details .basket-div .count .btn-white {
    display: inline-block;
    padding: 1px 5px;
    border: none;
    width: auto;
}

.container-fluid .basket-details .basket-div .image img {
    width: 100%;
    height: auto;
}

.container-fluid .basket-details .total-price p {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-fluid .basket-all .send-row {
    display: flex;
}

.container-fluid .basket-all .send {
    display: inline-block;
}

@media (max-width: 1200px) {
    .container-fluid .basket-details .basket-div span,
    p {
        font-size: .8em;
    }
}

@media (max-width: 960px) {
    .container-fluid .basket-details .basket-div span,
    p {
        font-size: .7em;
    }
}

@media (max-width: 768px) {
    .container-fluid .order-details {
        order: 2;
    }
    .container-fluid .basket-details {
        padding: 0px;
        order: 1;
    }
    .container-fluid .order-details .send-row {
        display: flex;
    }
    .container-fluid .order-details .send {
        display: inline-block;
    }
    .container-fluid .basket-all .send-row {
        display: none;
    }
    .container-fluid .basket-all .send {
        display: none;
    }
}

@media (max-width: 576px) {}